DEPTH/Assets/Plugins/OnnxRuntimeDlls/win-x64/*.dll filter=lfs diff=lfs merge=lfs -text
*.ipynb linguist-vendored #This makes the notebook files (usually big since they have images embedded) be ignored by the GitHub language stat
